body
{
background-color: #f9f9f9 ;
}

.my_main_navbar li a
{
    color:white !important;
    font-family: 'Changa', sans-serif;
}

.my_main_navbar li
{
    font-weight: 700 !important;
}

.my_main_navbar li a:hover
{
    color:rgb(224, 8, 8) !important;
    /* background-color:darkslategray  ; */
    /* border-radius: 15%; */
}

@media only screen and (max-width: 1199px) {
    .my_main_navbar li a{
        margin: 0 !important;
        padding: 0 !important;
    }
    .mainA
    {
        margin-left: 20px !important;
    }

    .my_skew section
    {
        width: 50% !important;
    }
    }

@media only screen and (max-width: 991px) {
    .my_main_navbar li a{
        background-color: transparent !important ;
        margin: 10px !important;
    }
    .my_main_navbar {
        background-color: darkslategray !important ;
        margin: 10px !important;
    }
    }

@media only screen and (max-width: 1263px){
    .my_user a
    {
        margin-left: 20px !important;
        margin-right: 0 !important;
        width: 75%;
    }
    }

@media only screen and (max-width: 1215px){
    .my_user a
    {
        width: 100%;
    }
    }

    #user_profile{
        text-decoration: none !important;
        color:black ;
    }

    #user_profile:hover{
        color:black ;
    }

    #div_user_profile:hover
    {
        background-color:rgb(248, 249, 250);
        cursor: pointer;
    }

    .carousel-inner
    {
        position: relative;
    }

    .carousel-caption
    {
        width: 30%;
        height: 35%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 35%;
        right: 35%;
        border-radius:5%;
    }

    .carousel-caption h1
    {
        color: rgba(55, 145, 175,1);
        font-family: 'Amiri', serif;
    }

    .carousel-caption h3
    {
        color: thistle;
        margin-top: 30px !important;
        font-family: 'Reem Kufi', sans-serif;
    }

    #carousel-caption_1
    {
        position: absolute;
        top: 35%;
        right: 50%;
    }

    #carousel-caption_2
    {
        position: absolute;
        top: 35%;
        right: 10%;
    }

    #carousel-caption_3
    {
        position: absolute;
        top: 30%;
        right: 60%;
    }

    .carousel-inner img{
        height: 90vh;
    }

    @media only screen and (max-width: 1179px)
    {
        .carousel-caption
        {
            height: 45%;
        }
    }

    @media only screen and (max-width: 991px)
    {
        .carousel-caption
        {
            display: none !important;
        }

    }

    @media (max-width:60rem){
        .carousel-inner img{
            height: 50vh;
        }
    }



    .my_skew
    {
        text-align: center;
        display: inline-block;
        transition: .5s;
        position: absolute;
        top: 85%;
        z-index: 50;
    }

    .my_skew section
    {
        background: rgb(38, 156, 255);
        width: 35vh;
        height: 25vh;
        display: block;
        font-weight: bold;
        font-size: 60px;
        float: left;
        transition: .5s;
    }

    .my_skew section i
    {
        margin-top: 6vh;
        margin-bottom: 3vh;
    }

    .my_skew:hover section:nth-child(odd)
    {
        transform: skewY(8deg);
    }

    .my_skew:hover section:nth-child(even)
    {
        transform: skewY(-8deg);
    }

    .my_skew:hover
    {
        transform: rotateX(20deg);
    }

    #h_4
    {
        background-color:rgb(100, 184, 255);  
        transition: .8s;
    }

    #h_3
    {
        background-color:rgb(69, 170, 255);
        transition: .8s;
    }

    #h_2
    {
        background-color:rgb(38, 156, 255);
        transition: .8s;
    }

    #h_1
    {
        background-color:rgb(8, 142, 255);
        transition: .8s;
    }

    .my_skew a
    {
        color: white ;
        transition: .2s;
        text-decoration: none;
    }

    .my_skew #h_4 a:hover 
    {
        color: rgba(0,0,0,0.5);
    }

    .my_skew #h_3 a:hover 
    {
        color: rgba(0,0,0,0.5);
    }

    .my_skew #h_2 a:hover 
    {
        color: rgba(0,0,0,0.5);
    }

    .my_skew #h_1 a:hover 
    {
        color: rgba(0,0,0,0.5);
    }


.top_rated_doctors
{
    height: 500px;
    margin-top: 300px;
}

.top_rated_doctors p
{
    font-family: 'Amiri', serif;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px; 
}

.item-doctor
{
    position: relative;
    overflow: hidden;
}

.item-doctor:hover  .doctor-layer1
{
    position: absolute;
    bottom: -100%;
}

.item-doctor:hover  .doctor-layer2
{
    position: absolute;
    bottom: 15px;
    opacity: 1;
}

.doctor-layer1
{
    width: 90%;
    height: 25%;
    position: absolute;
    bottom: 15px;
    right: 18px;
    text-align: center;
    background-color: white;
    transition: bottom 1s .2s;
}

.doctor-layer1 h4
{
    color: #191192 !important;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Amiri', serif;
    padding-top: 15PX;
}

.doctor-layer1 p
{
    color: #795d03 !important;
    font-family: 'Amiri', serif;
    font-weight: 500;
    font-size: large;
}

.doctor-layer2
{
    width: 90%;
    height: 92%;
    position: absolute;
    bottom: 100%;
    left: 17px;
    background-color: rgba(0, 33, 71, 0.7);
    text-align: center; 
    transition:bottom 1s ;
}

.doctor-layer2  h4
{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding-top: 100px;
}

.doctor-layer2  p
{
    font-family: "segoe ui light";
    color: white !important;
    padding-bottom: 15 !important;
}

.doctor-layer2  a
{
    font-size: 12px;
    font-weight: 600;
    color: #ffb606;
    text-decoration: none;
}


@media only screen and (max-width: 1199px ) and (min-width: 992px)
{
    .top_rated_doctors
    {
        margin-top: 500px !important;
    }

    .top_rated_doctors .doctor-layer1
    {
        height: 30%;
    }

    .top_rated_doctors .doctor-layer2
    {
        position: absolute;
        bottom: 120%;
        left: 5%;
    }

    .top_rated_doctors .doctor-layer2 h4
    {
        padding-top: 20px ;
    }
    
}

@media only screen and (max-width: 991px) and (min-width: 768px)
{
    .top_rated_doctors
    {
        margin-top: 700px !important;
    }

    .top_rated_doctors .doctor-layer1
    {
        height: 20%;
    }

    .top_rated_doctors .doctor-layer1 h4
    {
        font-size: 1rem;
    }

    .top_rated_doctors .doctor-layer2
    {
        position: absolute;
        bottom: 160%;
    }

    .top_rated_doctors .doctor-layer2 h4
    {
        padding-top: 20px ;
        font-size: medium;
    }

    .top_rated_doctors .doctor-layer2 p
    {
        font-size: small;
    }

    .top_rated_doctors .doctor-layer2 a ,.top_rated_doctors .doctor-layer1 p
    {
        display: none;
    }
    
}

@media only screen and (max-width: 767px) 
{
    .top_rated_doctors
    {
        margin-top: 800px;
    }

    .top_rated_doctors .item-doctor
    {
        margin-bottom: 50px;
    }

    .top_rated_doctors .doctor-layer1
    {
        height: 15%;
    }

    .top_rated_doctors .doctor-layer1 h4
    {
        margin-bottom: 20px;
    }  
    
    .top_rated_doctors .doctor-layer2 h4
    {
        font-size: 50px;
        margin-bottom: 40px;
    }  
    
    .top_rated_doctors .doctor-layer2 p 
    {
        font-size: 40px;
    } 
    
    .top_rated_doctors .doctor-layer2 a 
    {
        font-size: 20px;
    }  
}